<%- layout('layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">

            <h4 class="alert-heading"><%= err.message %></h4>
            <p>This is a alert to alert you to not fuck things up and make my life suck as a developer</p>
            <hr>
            <p><%= err.stack %></p>
        </div>
    </div>
</div>