<%- layout('layouts/boilerplate.ejs') %>
    <h1>All Campgrounds</h1>
    <ul>
        <% for(campground of campgrounds){ %>
            <li><%= campground.title %> - <a href="/campgrounds/<%= campground._id%>">details</a></li>
            <% } %>
    </ul>
